#info {
    color:red;
    height: 10px;
}

.mainSection {
    display:none;
}
.chatBlock {
    height: 300px;
    float:left;
    border: 1px solid black;
    padding: 0 4px;
}
#chat {
    width: 700px;
}
#userList{
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#userChat {
    width: 65%;
    float:right;
}
#history {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
}
#msgText {
    width: 99%;
    float:left;
}
#msgSend {
    width: 100%;
    float:left;
}

/* message */
.msgNameAndTime { padding: 0; margin: 0 0; }
.msgUserName { color: orangered; }
.msgTime { font: normal small-caps 12px/14px serif; color:orange; float:right;}
.msgText {  }