#info {
    color:red;
}

.mainSection {
    display:none;
}
.chatBlock {
    height: 300px;
    float:left;
    border: 1px solid black;
    padding: 0 4px;
}
#userList{
    width: 100px;
    overflow-y: scroll;
}
#history {
    height: 220px;
    overflow-y: scroll;
}
#msgText {
    width: 204px;
}
#msgSend {
    width: 210px;
}