#info {
    color:red;
}

.mainSection {
    display:none;
}
.chatBlock {
    height: 300px;
    float:left;
    border: 1px solid black;
    padding: 0 4px;
}
#chat {
    width: 550px;
}
#userList{
    width: 100px;
    overflow-y: scroll;
}
#history {
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}
#msgText {
    width: 514px;
    float:left;
}
#msgSend {
    width: 520px;
    float:left;
}

/* message */
.msgNameAndTime { padding: 0; margin: 0 0; }
.msgUserName { color: orangered; margin-right: 20px; }
.msgTime { color:orange; }
.msgText { color: brown; }